/* font related styles */

body{
    font-family: 'Open Sans', sans-serif;
}

/* header related styles */
.banner{
    width: 635px;
    height: 800px;
    float: right;
    justify-content: space-around;
    margin-top: 50x;
    margin-right: 240px;
}

.container{
    width: 1920px;
    height: 800px;
    background-color: rgba(229, 84, 115, 0.10);
}

.content{ 
    padding-top: 197px;
    padding-left: 240px;
    bottom: 365px;
    justify-content: space-around;
     
}

.container-title{
    text-align: center;
    width: 1920px;
    height: 4867px;
}
.pic1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.pic2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.pic3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}


/* main contents docx */

.container-sign{
    text-align: center;
    width: 1922px;
    height: 620px;
    background: rgba(229, 84, 115, 0.05);


}

.signuppic{
    padding: 100px;
    padding-bottom: 100px;
    margin-right: 429px;
    margin-bottom: 100px;
    width: 318px;
    height: 420px;
    float: right;
}

.content{
    padding-top: 197px;
    padding-left: 240px;
    bottom: 365px;
}

/* instragram related docx */

.heading-insta{
    text-align: center;
    margin-left: 700px;
    margin-right: 700px;
    margin-top: 120px;
    margin-bottom: 48px;
}

/* subscribe related docs */

.subscribe{
    background-image: url(img/Rectangle\ 9.png);
    width: 1440px;
    height: 449px;
    margin-left: 240px;
    margin-right: 240px;
    margin-top: 115px;
    margin-bottom: 128px;

.content-subscribe{
    padding: 122px; 
}

.head1{
    padding: 122px;
    padding-right: 534px;
    padding-left: 533px;
}

}
/* footer container related docx */

.footer-container{

    background-color:#111010;
    width: 1922px;
    height: 449px;
}

.foooter-content{
    text-align: center;
    padding-top: 128px;
    color: #FFFFFFE5;
    
}

.btn color{
    color: red;
}