/* font related styles */

body{
    font-family: 'Open Sans', sans-serif;
}

/* header related styles */
.banner{
    width: 635px;
    height: 800px;
    float: right;
    justify-content: space-around;
    margin-top: 50x;
    margin-right: 240px;
}

.container{
    width: 1920px;
    height: 800px;
    background-color: rgba(229, 84, 115, 0.10);
}

.content{ 
    padding-top: 197px;
    padding-left: 240px;
    bottom: 365px;
    justify-content: space-around;
     
}

.container-title{
    text-align: center;
    width: 1920px;
    height: 4867px;
}
.pic1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.pic2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.pic3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}


/* main contents docx */

.container-sign{
    text-align: center;
    width: 1922px;
    height: 620px;
    background: rgba(229, 84, 115, 0.05);


}

.signuppic{
    padding: 100px;
    padding-bottom: 100px;
    margin-right: 429px;
    margin-bottom: 100px;
    width: 318px;
    height: 420px;
    float: right;
}

.content{
    padding-top: 197px;
    padding-left: 240px;
    bottom: 365px;
}

/* instragram related docx */

.text-title{
 
text-align: center;
background-color: blue;
back

}

.text.title{
    text-align: centr;
}

/* subscribe related docs */

.subscribe{
    width: 1440px;
    height: 449px;
    border-radius: 8px;
    background-image: url(img/Rectangle\ 9.png);
    margin-top: 140px;
    margin-left: 240px;
    margin-right:240px;
}